
    <div class="col-9">
        <div class="row">
            <form name="3dsRedirect" action="<%= echoForm %>" method="POST" accept-charset="UTF-8">
                <p>This is the ACS redirection page. In your integration you should redirect the payer automatically.</p>
                <!-- Populate the mandatory PaReq parameter with the value returned in the 3DSecure.authenticationRedirect.customized.paReq response parameter.  -->
                <input type="hidden" name="PaReq" value="<%= pareq %>" />
                <!-- Populate the mandatory TermUrl value with the URL to which you want the payer returned when the authentication process has completed. This should be the same value as supplied in the 3DSecure.authenticationRedirect.responseUrl  parameter to the CHECK_ENROLLMENT request. -->
                <input type="hidden" name="TermUrl" value="<%= termUrl %>" />
                <!-- The ACS will echo the contents of the mandatory MD parameter when the payer is returned to the URL specified in the TermUrl parameter.  You can use this parameter to establish a link between the ACS request and response. -->
                <input type="hidden" name="MD" value="<%= md %>" />
                <button class="btn btn-primary">Click here to continue</button>
            </form>
        </div>
        <!-- row -->
    </div>
    </div>
    </div>
    </body>

    </html>